<div class="login-bg">
  <div class="login-form">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <h2>Admin Portal</h2>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="userName" placeholder="{{'login.user' | translate}}">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">
            {{'login.inputUser' | translate}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
            <input type="password" nz-input formControlName="password" placeholder="{{'login.password' | translate}}">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
            {{'login.inputPassword' | translate}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span class="login-text">{{'login.remember' | translate}}</span>
          </label>
          <a class="login-form-forgot" (click)="switchLang()">{{langTitle}}</a>
          <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="loginLoading">
            {{loginBtnLabel}}
          </button>
          <a href="" class="login-text">{{'login.forgetPw' | translate}}</a>
          <span class="login-or">{{'or' | translate}}</span>
          <a href="" class="login-text" routerLink="/register">{{'login.registerNow' | translate}}</a>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  </div>
</div>

