<div class="login-bg">
  <div class="login-form">
    <form #loginForm="ngForm">
      <px-form-item>
        <px-form-item-label></px-form-item-label>
        <px-input-wrap>
          <h2>Admin Portal</h2>
        </px-input-wrap>
      </px-form-item>
      <px-form-item notShowOption>
        <px-form-item-label>
          <span class="font-paletx px-user_20"></span>
        </px-form-item-label>
        <px-input-wrap>
          <px-text-input width="320px" name="userName" type="text" [(ngModel)]="loginData.name"
                         placeholder="{{'login.user' | translate}}" bindForm>
          </px-text-input>
        </px-input-wrap>
      </px-form-item>
      <px-form-item>
        <px-form-item-label>
          <span class="font-paletx px-user_security_20"></span>
        </px-form-item-label>
        <px-input-wrap>
          <px-text-input width="320px" name="password" type="password" [(ngModel)]="loginData.password"
                         placeholder="{{'login.password' | translate}}" bindForm>
          </px-text-input>
        </px-input-wrap>
      </px-form-item>
      <px-form-item>
        <px-form-item-label></px-form-item-label>
        <px-input-wrap>
          <div class="check_lang">
            <px-checkbox name="remember" [(ngModel)]="loginData.remember">
              <span>{{'login.remember' | translate}}</span>
            </px-checkbox>
            <a href="javascript:void(0)" (click)="switchLang()">{{langTitle}}</a>
          </div>
        </px-input-wrap>
      </px-form-item>
      <px-form-btns>
        <button pxButton type="button" class="ui-button-primary login-btn" label="{{'login.login' | translate}}"
                loadinglabel="{{'login.logining' | translate}}" [state]="buttonState"
                [disabled]="loginForm.invalid" (click)="goLogin()"></button>
      </px-form-btns>
    </form>
  </div>
</div>

