@import '../../../css/config';

.menu-panel {
  background: @default-white;
  color: @gray-grade-4;
  border: solid 1px @gray-grade-7;
  border-radius: 2px;
  padding: 10px 20px;
  width: 300px;
  height: 200px;
  .menu-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    > span {
      &:last-child {
        span {
          font-size: 12px;
          &.px-back {
            font-size: 14px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
