<div class="sideBars">
  <div class="sidebar-group">
    <div *ngFor="let item of sidebarCfgs">
      <div class="sidebar-item second-sidebar" (click)="clickSecondMenu(item)"
           [ngClass]="{'router-link-active': item.active, 'has-third-menu': item.children}">
        <span><span class="menu-icon font-paletx {{item.icon}}"></span>{{item.label}}</span>
        <span *ngIf="item.children" class="font-paletx" [ngClass]="{'px-angle_down_16': !item.expand, 'px-angle_up_16': item.expand}"></span>
      </div>
      <div *ngIf="item.children && item.expand">
        <div *ngFor="let item2 of item.children" class="sidebar-item third-sidebar" [routerLink]="[item2.url]"
             (click)="clickSecondMenu(item2)" [ngClass]="{'router-link-active': item2.active}">{{item2.label}}</div>
      </div>
    </div>
  </div>
</div>
