<div class="sideBars">
  <div class="sidebar-group">
    <div *ngFor="let item of sidebarCfgs">
      <div class="sidebar-item second-sidebar" (click)="clickSecondMenu(item)"
           [ngClass]="{'router-link-active': item.active, 'has-third-menu': item.children}">
        <span class="item-name"><span class="menu-icon" nz-icon [type]="item.icon" theme="outline"></span>{{item.label}}</span>
        <span *ngIf="item.children" nz-icon [type]="item.expand ? 'up' : 'down'" theme="outline" class="font-paletx"></span>
      </div>
      <div *ngIf="item.children && item.expand">
        <div *ngFor="let item2 of item.children" class="sidebar-item third-sidebar" [routerLink]="[item2.url]"
             (click)="clickSecondMenu(item2)" [ngClass]="{'router-link-active': item2.active}">{{item2.label}}</div>
      </div>
    </div>
  </div>
</div>
