<div class="add-user">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userName" nzRequired>
          <span>
            {{'login.user' | translate}}
            <i nz-icon nz-tooltip nzTitle="{{'login.userNameLimit' | translate}}" type="question-circle" theme="outline"></i>
          </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="userName" formControlName="userName" [disabled]="type === 'edit'">
        <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">
          <ng-container *ngIf="validateForm.get('userName').hasError('required')">
            {{'login.inputUser' | translate}}
          </ng-container>
          <ng-container *ngIf="validateForm.get('userName').hasError('invalid')">
            {{'login.userNameInvail' | translate}}
          </ng-container>
          <ng-container *ngIf="validateForm.get('userName').hasError('exist')">
            {{'login.userExist' | translate}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="type === 'add'">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>{{'login.password' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
        <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
          {{'login.passwordExplain' | translate}}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="type === 'add'">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>{{'login.confirmPw' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
        <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
          <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
            {{'login.confirmPwExplain' | translate}}
          </ng-container>
          <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
            {{'login.twoPwDiff' | translate}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>{{'login.phone' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              <nz-option nzLabel="+87" nzValue="+87"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input>
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">
          {{'login.phoneExplain' | translate}}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">{{'login.email' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="email" id="email">
        <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">
          {{'login.emailInvaild' | translate}}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="clusters">{{'login.clusters' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select [nzMaxMultipleCount]="10" style="width: 100%" nzMode="multiple" formControlName="clusters" id="clusters"
                   nzPlaceHolder="{{'select' | translate}}" [(ngModel)]="clusters">
          <nz-option *ngFor="let option of clusterOptions" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('clusters').dirty && validateForm.get('clusters').errors">
          {{'login.emailInvaild' | translate}}
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button style="margin-right: 10px" nz-button nzType="primary" [nzLoading]="addLoading">
          {{addBtnTitle}}</button>
        <button nz-button nzType="info" (click)="cancel()">{{'login.cancel' | translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

