<div class="user-manage">
  <h2>{{'menu.sysManage.user' | translate}}</h2>
  <div class="user-table">
    <div class="oper-btn-group">
      <button nz-button [nzType]="'primary'" (click)="toUserAdd()" class="oper-btn">
        {{'add' | translate}}
      </button>
      <button nz-button [disabled]="disabledUserDel" [nzType]="'danger'" [nzLoading]="deleteWaiting" (click)="deleteUsers()">
        {{'delete' | translate}}
      </button>
    </div>
    <nz-table #usersTable [nzData]="displayUsers" nzBordered
              (nzCurrentPageDataChange)="currentPageDataChange($event)"
              (nzPageIndexChange)="refreshStatus()"
              (nzPageSizeChange)="refreshStatus()">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="100px" nzShowSort nzSortKey="name">{{'login.user' | translate}}</th>
        <th nzWidth="80px" nzShowSort nzSortKey="roleName">{{'login.role' | translate}}</th>
        <th nzWidth="150px" nzShowSort nzSortKey="phone">{{'login.phone' | translate}}</th>
        <th nzShowSort nzSortKey="email">{{'login.email' | translate}}</th>
        <th>{{'login.clusters' | translate}}</th>
        <th nzShowSort nzSortKey="createTime">{{'login.createTime' | translate}}</th>
        <th nzShowSort nzSortKey="lastLogin">{{'login.lastLogin' | translate}}</th>
        <th nzWidth="120px">{{'action' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersTable.data">
        <td nzShowCheckbox [(nzChecked)]="user.checked" [nzDisabled]="user.disabled" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{user.name}}</td>
        <td>{{user.roleName}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email || '--'}}</td>
        <td>{{user.manageClusters}}</td>
        <td>{{user.createTime}}</td>
        <td>{{user.lastLogin}}</td>
        <td>
          <button nz-button nzType="default" nzSize="small" style="margin-right: 5px" (click)="toEditUser(user)">
            {{'edit' | translate}}
          </button>
          <nz-dropdown>
            <button nz-button nz-dropdown nzSize="small"><i nz-icon type="ellipsis"></i></button>
            <ul nz-menu>
              <li nz-menu-item>
                <a (click)="deleteUser(user)">{{'delete' | translate}}</a>
              </li>
              <li nz-menu-item>
                <a (click)="toAddCluster(user)">{{'login.addCluster' | translate}}</a>
              </li>
            </ul>
          </nz-dropdown>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" [nzWidth]="'40%'"
           [nzTitle]="drawTitle" (nzOnClose)="visible = false">
  <add-user *ngIf="visible" [type]="operType" [userData]="editData" (addUserChange)="handleAddUser($event)"></add-user>
</nz-drawer>
<nz-modal [(nzVisible)]="showClusterAdd" nzTitle="{{'login.addCluster' | translate}}"
          (nzOnCancel)="addClusterCancel()" (nzOnOk)="addClusterOk()">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">{{'login.clusters' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select [nzMaxMultipleCount]="10" style="width: 100%" nzMode="multiple"
                   nzPlaceHolder="{{'select' | translate}}" [(ngModel)]="clusters">
          <nz-option *ngFor="let option of clusterOptions" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
