<div class="dashboard">
  <div class="clusters">
    <div class="header">
      <span class="font-paletx" nz-icon type="pic-left"></span>{{'dashboard.clusters' | translate}}
    </div>
    <div class="content">
      <div class="cluster" *ngFor="let cluster of clusters" (click)="selectCluster(cluster)"
           [class.selected]="curCluster.name === cluster.name">
        <div class="cluster-name">{{cluster.name}}</div>
        <div class="cluster-action">
          <span class="state">{{'dashboard.health' | translate}}</span>
          <span class="font-paletx px-detail" nz-icon type="file-search" title="{{'dashboard.goClusterManage' | translate}}"
                (click)="toClusterManage()"></span>
        </div>
        <span class="px-delete" nz-icon type="delete" title="{{'dashboard.cluster.delete' | translate}}"
              (click)="toDeleteCluster(cluster)"></span>
      </div>
      <div class="cluster add-cluster" (click)="visible=true">
        <span class="font-paletx" nz-icon type="plus"></span>
        <span class="state">{{'dashboard.addCluster' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="cluster-detail">
    <div class="header">
      <span class="font-paletx" nz-icon type="dashboard"></span>{{'dashboard.overview' | translate}}
    </div>
    <div class="content">
      <cluster-dashboard *ngIf="curCluster" [clusterData]="curCluster"></cluster-dashboard>
      <nz-spin *ngIf="!curCluster" class="loading" [nzSize]="'large'"></nz-spin>
    </div>
  </div>
</div>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" [nzWidth]="'40%'"
           nzTitle="{{'dashboard.cluster.add' | translate}}" (nzOnClose)="visible = false">
  <add-cluster (addClusterChange)="handleAddCluster($event)"></add-cluster>
</nz-drawer>
